<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="../css/movie.css">
  </head>

  <body>
    <h1>WELCOME TO MOVIEFONE...err MOVIE CATALOG</h1>

    <h2><a href="/actors">Everything Actors</a></h2>
    <h3><a href="/movies">Everything Movies</a></h3>


  </body>
</html>
